.overlay {
  display: flex;
  position: fixed;
  right: 0;
  top: 0;
  padding: 0.3rem;
  background: white;
  border: 1px lightgray solid;
  border-right: none;
  border-radius: 7px 0 0 7px;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  color: black;
  font-size: medium;

  cursor: move;
  cursor: grab;

  .divisionSlash {
    margin: 0 0.1rem;
  }
}